body {
  font-family: Lato;
  color: white;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin: 29.07px 50px;
  gap: 50px;
}

.inscription {
  display: flex;
  width: 300px;
  height: 80px;
  transform: rotate(-4deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f124f2;
  box-shadow: 0 7px 0 0 #a819a8;
}

.newsletter {
  display: flex;
  width: 320px;
  height: 70px;
  transform: rotate(6deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 35px;
  background: #684bd4;
}

.AddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00b47e;
  width: 300px;
  height: 80px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
